[Unit]
Description="Backend server for discern data recording"

[Service]
User=root
ExecStart="/usr/local/bin/FusionCore"
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

